/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .app-container {
    background-size: 340% !important;
  }
  .content {
    width: 84% !important;
  }
  .side-panel {
    left: 0 !important;
  }
  .side-panel-active {
    width: 65% !important;
  }
  .side-panel-section {
    &:first-child {
      transform: rotate(-90deg);
      transform-origin: 8.7rem 8.5rem;;
      font-size: 75%;
      width: 20rem !important;
      padding: 0 !important;
      h1 {
        font-size: 1rem;
      }
    }
    &:nth-child(2) {
      height: 55% !important;
    }
  }
  .side-panel-item {
    border-radius: 50%;
    width: 3.5rem !important;
  }
  .button {
    min-width: inherit !important;
    width: 3.9rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-panel-text {
    display: none !important;
  }
  .side-panel-icon {
    display: block !important;
  }
  .images {
    width: 85% !important;
  }
  .page {
    width: 7.5% !important;
  }
  .featured-image-thumb {
    max-width: 5.5rem !important;
    min-height: 3.2rem !important;
    border: 2px solid white !important;
  }
}
