.side-panel-section {
  color: var(--text);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  &:first-child {
    height: 20%;
    padding-top: .5rem;
    text-align: center;
  }
  &:nth-child(2) {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &:last-child {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.side-panel-item {
  width: 100%;
  padding: 1rem .75rem;
  margin: .5rem 0;
  text-align: center;
  border: 2px solid var(--accent);
  color: var(--text);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  &:hover {
    cursor: pointer;
    background-color: rgba(var(--accentValues), 0.55);
  }
  &:active {
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.4);
  }
}

.side-panel-item-active {
  background-color: rgba(var(--accentValues), 0.55);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.4);
}

.side-panel-icon {
  display: none;
}

.button {
  min-width: 8rem;
  margin: .5rem 0;
}
