<div class="side-panel-section">
  <h1>Michael Mountain</h1>
  <p class="mt-1">Web Developer and Hobbyist 3D Modeller</p>
</div>
<div class="side-panel-section">
  <a
    class="side-panel-item"
    routerLink="/gallery/featured"
    routerLinkActive="side-panel-item-active"
  >
    <span class="side-panel-text">Featured</span>
    <span class="side-panel-icon">
          <i class="fas fa-bomb"></i>
        </span>
  </a>
  <a
    class="side-panel-item"
    routerLink="/gallery/screenshots"
    routerLinkActive="side-panel-item-active"
  >
    <span class="side-panel-text">Screenshots</span>
    <span class="side-panel-icon">
          <i class="fas fa-image"></i>
        </span>
  </a>
  <a
    class="side-panel-item"
    routerLink="/gallery/blender"
    routerLinkActive="side-panel-item-active"
  >
    <span class="side-panel-text">Blender</span>
    <span class="side-panel-icon">
          <i class="fas fa-cube"></i>
        </span>
  </a>
</div>
<div class="side-panel-section">
  <button class="button button-accent button-border">
    <i class="fab fa-artstation"></i>
  </button>
  <button class="button button-accent button-border">
    <i class="fab fa-github-alt"></i>
  </button>
</div>
