.featured {
  height: 100%;
  position: relative;
}

.featured-carousel {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  min-height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page {
  width: 5%;
  min-height: 3rem;
  border: 1px solid var(--accent);
  color: var(--text);
  background: transparent;
  transition: all .2s ease;
  &:hover {
    cursor: pointer;
    background-color: rgba(var(--accentValues), 0.55);
  }
  &:active {
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.4);
  }
  &:focus {
    outline: none;
    border: 2px solid var(--accent);
  }
}

.featured-image-thumb {
  max-height: 6.6rem;
  border: 3px solid white;
  margin: 0;
  filter: contrast(.8);
  transition: all .2s ease;
  &:hover {
    cursor: pointer;
    filter: contrast(1.2);
  }
}

.active-featured-image {
  filter: contrast(1.2);
  border: 3px solid var(--accent);
}
