<section class="featured">
  <figure class="featured-carousel">
    <ng-container *ngIf="galleryQuery.select('featuredGallery') | async as featuredGallery">
      <button class="page page-before" (click)="navigateFeaturedImage('previous', featuredGallery.images)">
        <
      </button>
      <div class="images">
        <ng-container
          *ngFor="let featured of featuredGallery.images; let idx = index">
          <!--// TODO: 5 images on desktop, 3 on mobile. Try do it dynamically -->
          <img
            class="featured-image-thumb"
            alt=""
            [src]="featured.imageUrl"
            [class.active-featured-image]="currentImageIndex === idx"
            (click)="setFeaturedImage(featured.imageUrl!, idx)"
          >
        </ng-container>
      </div>
      <button class="page page-after" (click)="navigateFeaturedImage('next', featuredGallery.images)">
        >
      </button>
    </ng-container>
  </figure>
</section>
