%content-sibling {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.app-container {
  background: url("../../../../../assets/images/NatureSpirit.png") center no-repeat;
  background-size: 105%;
}

.side-panel {
  @extend %content-sibling;
  left: 5%;
  width: 15%;
  background-color: rgba(255, 255, 255, .35);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.content {
  @extend %content-sibling;
  right: 0;
  width: 80%;
}
