body {
  --primary: #007bff;
  --primaryValues: 0, 123, 255;
  --accent: #ff6c01;
  --accentValues: 255, 108, 1;
  --info: #17a2b8;
  --infoValues: 23, 163, 184;
  --success: #28a745;
  --successValues: 40, 167, 70;
  --warning: #ffc107;
  --warningValues: 255, 193, 7;
  --danger: #dc3545;
  --dangerValues: 220, 53, 70;
  --light: #f8f9fa;
  --lightValues: 248, 249, 250;
  --dark: #343a40;
  --darkValues: 52, 58, 64;
  --darker: #262b33;
  --darkerValues: 38, 43, 51;
  --boxShadow:  0 2px 4px rgba(0, 0, 0, 0.8), 0 0 3px 1px rgba(0, 0, 0, 0.8);

  // _____ RGB Values  _____//
  --shadowColorValues: 52, 58, 64;
  --borderColorValues: 52, 58, 64;

  // _____ Derived Values  _____//
  --text: var(--light);
  --pageBg: var(--dark);
  --cardBg: var(--dark);
}
