@import "~normalize.css/normalize.css";
@import "~ng-mountain/assets/styles/styles";
@import "./scss/theme/theme-colors";
@import "scss/components/all";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.app-container {
  height: 100%;
  width: 100%;
  position: relative;
}
